

.container_style{
    height: 100%;
    position: relative;
}
.description{
    /* width: 500px; */
    z-index: 4;
    position: absolute;
    text-align: left;
    top: 5%;
    left: 10%;
}
.description h2{
    font-size: 26px;
    color: #ffffff;
}
.carousel-boullt{
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-boullt span{
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    margin: 0 5px;
    cursor:pointer;
}
.container_style




@media (max-width: 290px) {
    .description h2{
        font-size: 9vw;
    }
}