

.container_style{
    height: 100%;
    position: relative;
}
.description{
    z-index: 4;
    position: absolute;
    text-align: left;
    top: 5%;
    left: 2%;
    right: 2%;
}
.description h2{
    font-size: 50px;
    color: #ffffff;
}
.description_p {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    line-height: 30px;
}

.slide_arrow{
    color: #ffffff;
    font-size: 26px;
    margin-right: 20px;
    cursor: pointer;
}
.carousel-boullt{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* right: 50%; */
    right: 50%;
    transform: translate(50%);
}
.carousel-boullt span{
    width: 20px;
    height: 20px;
    background-color: rgba(0,0,0,0.3);
    border:0.5px solid #ffffff;
    border-radius: 50%;
    margin: 0 5px;
    cursor:pointer;
    
}
.container_style{
    margin-bottom: 50px;
    /* height: 100vh; */
}

.bgImageStyle{
    height: 120vh;
}


@media (max-width: 1380px) {
    .description h2{
        text-align: center;
    }
    .bgImageStyle{
        height: 500vh;
    }
}
@media (max-width: 860px) {
    .description h2{
        font-size: 6vw;
    }
    
}
@media (max-width: 290px) {
    .description h2{
        font-size: 9vw;
    }
    .bgImageStyle{
        height: 500vh;
    }
}
@media (max-height: 647px) {
    
    .bgImageStyle{
        height: 500vh;
    }
}
