

.cards_div{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    /* margin-right: 16%; */
}
.cards_div_white{
    width: 18%;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 2% 0;
    background-image: url(../images/card1.e95ab6b0391b6178db03.jpg);
}
.img_div{
    margin: 8%;
    width: 90px;
    height: 90px;
    background-color: #1d4657;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards_div_white h3{
    font-size: 24px;
    margin-left: 7%;
    margin-right: 7%;
}
.cards_div_white p{
    background-color: #c2e854;
    color: #005f15;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
    width: 80%;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.line_div{
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 30px;
}



@media (max-width: 1380px) {
    .cards_div{
        display: flex;
        flex-direction: column;
        
    }
    .cards_div_white{
        text-align: center;
        width: 80%;
        background-color: #ffffff;
        border-radius: 20px;
    }
    .img_div{
        margin: 60px auto;
        width: 120px;
        height: 120px;
    }
    .cards_div_white p{
        margin-bottom: 60px;
    }
}
@media (max-width: 300px) {
    .cards_div_white h3{
        font-size: 7vw;
    }
}